# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SPLITMOUSE_LEFT
	def_bool $(shields_list_contains,splitmouse_left)

config SHIELD_SPLITMOUSE_RIGHT
	def_bool $(shields_list_contains,splitmouse_right)
